<div class="jumbotron">
  <h1>Welcome to Blocmarks!</h1>
  <p> A social bookmarking app that allows users to email, manage and share bookmarked URLs.  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://raw.githubusercontent.com/Mikescops/bootstrapbolttheme/master/icon-bootstrap.png" alt="...">
      <div class="caption">
        <h3>Bootstrap</h3>
        <p> One of the most popular front-end frameworks! </p>
        <p> <a href="http://getbootstrap.com/" class="btn btn-primary" role="button">Get Bootstrap!</a> </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" alt="...">
      <div class="caption">
        <h3> Wikipedia </h3>
        <p> The world's largest repository of human knowledge. </p>
        <p> <a href="http://www.wikipedia.org/" class="btn btn-primary" role="button">Learn anything</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://octodex.github.com/images/baracktocat.jpg" alt="...">
      <div class="caption">
        <h3>Github</h3>
        <p> Collaboration and Open Source </p>
        <p><a href="https://github.com/" class="btn btn-primary" role="button">Code & Collaborate</a> </p>
      </div>
    </div>
  </div>
</div>
